<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ratingModalCenter-<%= movie.id %>">
    Estimate!
</button>

<div class="modal fade" id="ratingModalCenter-<%= movie.id %>" tabindex="-1" role="dialog" aria-labelledby="ratingModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= movie.title %></h5>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <div class="btn-group">
          <%= reactive_vote_buttons_helper(movie) %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
