<br>
<div class="col-lg-10">
    <%= render @movie %>
</div>
<br>
<div class="col-md-2">
  <div class="d-flex justify-content-center">
    <%= link_to "Back", root_url, class: "btn btn-outline-danger form-group" %>
  </div>
</div>


